.container {
    display: inline-grid;
    width: 100%;
    height: 100vh;
    background-color: #E6DDC4;

    /* grid-template-columns: 15% 85%; */
}

.headbar {
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    background-color:  #F0E9D2;
}
.headbar-1{
    overflow: hidden;
    padding : 10px;
    display: flex;
    justify-content: space-between;
    background-color: #E6DDC4; 
}
.span-t{
    margin-left: 15px;
    color:#181D31 ;
    
    display: inline-flex;
    align-items: center;
    line-height: normal;
  
}
.span-r{
    color: #464646ba;
    font-size: 15px;
    margin-left: 25px;
}
.icon-profile{
   width: 40px;
   height: 40px;
}
.icon-profile img{
    max-width: 40px;
    height : 40px;
    border-radius : 50%;
    object-fit : cover;
    border : 1px solid black;
    /* position : absolute; */
    top : 0;
    left : 0;
    background : #1d1d1d
}
.room-main{
    margin-top: 10px;
    background-color:  #E6DDC4; 
    height: 100%;
    overflow : hidden;
}
.card {
    height: 100vh;
    overflow : auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    row-gap: 0rem;
    grid-auto-rows: min-content;
}
.suggest-room{
    width: 400px;
    position: absolute;
}
.suggest-roomItem:hover{
    background: #f9ffe3;
}
.suggest-roomItem {
    background: white;
    border-radius: 2%;
    min-height: 100px;
    display: grid;
    grid-template-rows: 2fr 2fr 1fr;
    padding-left: 20px;
    cursor: pointer;
    align-items: center;
    border : 1px solid #464646ba;
}
.s-description{
    font-size: 15px;
    color: #464646ba;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.bottom-item{
    position: absolute;
    bottom: 0;
}
.bottom-span{
    display: flex;
    flex-direction: row;
    justify-content : space-between;
}
.s-id{
    font-size: 10px;
}
.s-owner {
    color: #181D31;
    padding-left: 5px;
}
.create-by {
    padding-right: 5px;
    font-size: 10px;
    color: #464646ba;
}
